includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    level: 9
    paths:
        - app
        - database
        - routes
        - tests
    ignoreErrors:
        - '#^Call to an undefined method Orchid\\Screen\\Field::icon\(\)\.$#'
        - '#^Call to an undefined static method Orchid\\Support\\Color::BASIC\(\)\.$#'
